# Python
.ipynb_checkpoints
__pycache__/
# Logs
lightning_logs/
tb_logs/
logs/
wandb/
# Project specific
snapshots/
model_weights/
# results
semi_sup_results/
precomputed_similarities/
shared_models

processed_data/
env/

STDAT5.py
PoseFormerV5.py
BehaveFormer.py
STDAT4.py

sweep_stdat_poseformer_utd.yaml
cmc_behaveformer_poseformerv4_utd.yaml
cmc_stdat_cooccurrence_utd.yaml
configs/cmc/cmc_stdat_poseformer_utd.yaml

