# Python
.ipynb_checkpoints
__pycache__/
# Logs
lightning_logs/
tb_logs/
logs/
wandb/
# Project specific
snapshots/
model_weights/
# results
semi_sup_results/
precomputed_similarities/
shared_models

#fabian
models/DSTformer.py
models/DSTformer2.py

models/STDAT.py
models/STDAT2.py
processed_data

datasets/opportunity_aligned.py

ssl_da_env/