experiment:
  seed: 28
  num_epochs_ssl: 100
  num_epochs_fine_tuning: 100
  batch_size_fine_tuning: 64

modalities:
  skeleton:
    global_encoder:
      cooccurrence:
        class_name: SupervisedSkeletonCooccurenceModel
        from_module: skeleton_coocurrence
        encoder_class_name: SkeletonCooccurenceBlocks
        encoder_name: blocks
        args: []
        kwargs:
          out_channels: [64, 32, 32, 64, 128, 256]
          kernel_sizes: [[1, 1], [3, 1], [3, 3], [3, 3], [3, 3], [3, 3]]
          max_pool_sizes: [null, null, 2, 2, 2, 2]
          sample_length: 25
          lr: 0.001
          optimizer_name: "adam"

    local_transformer:
      class_name: DSTformer
      from_module: DSTformer3
      args: []
      kwargs:
        dim_in: 3
        dim_out: 3
        dim_feat: 128
        dim_rep: 512
        depth: 5
        num_heads: 8
        mlp_ratio: 4
        num_joints: 17  
        maxlen: 25

    transforms:
      - class_name: RecenterJoints
        from_module: skeleton_transforms
        in_test: true
        kwargs:
          anchor_joint_index: 2
      - class_name: NormalizeDistances
        from_module: skeleton_transforms
        in_test: true
        kwargs:
          anchor_joint_1_index: 1
          anchor_joint_2_index: 2
      - class_name: SkeletonSampler
        from_module: skeleton_transforms
        transform_name: sampling
        in_test: true
        kwargs:
          size: 25
      - class_name: ToTensor
        from_module: general_transforms
        in_test: true
      - class_name: Permute
        from_module: general_transforms
        in_test: true
        kwargs:
          shape: [1, 2, 0]
      - class_name: ToFloat
        from_module: general_transforms
        in_test: true
